
body{
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}
ul{
    list-style-type: none;
}
header{
    background-color: #E7E9FC;
}

.logo{
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: #4d5ae5;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
text-transform: uppercase;
}
span{
    color: #2e2f42;
    text-transform: uppercase;
}
.menu:hover, .menu:focus{
    color: #404bbf;
}

.menu{
    text-decoration: none;
    color: #2E2F42;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
}

address{
    font-style: normal
}

.contacts{
    text-decoration: none;
    color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
}
.contacts:hover, .contacts:focus{
    color: #404bbf;
}

.section1{
    background-color: #2E2F42;
}

.title{
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: white;

}

.button{
font-family: "Roboto", sans-serif;
color: white;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.04em;
text-align: left;
background-color: #4D5AE5;
cursor: pointer;
}
.button:hover, .button:focus{
    background-color: #404BBF;
}

.nazva{
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #2E2F42;
}

.text{
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #434455;
}

.section3{
    background-color: #F4F4FD;
}

.title2{
font-size: 36px;
font-weight: 700;
line-height: 1.11;
text-transform: capitalize;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
}

.card{
background-color: #FFFFFF;
}

.name{
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
}

.profession{
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

.title3{
font-size: 36px;
font-weight: 700;
line-height: 1.11;
text-transform: capitalize;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
}

.card2{
background-color: #FFFFFF;
}

.name-app{
font-size: 20px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #2E2F42;
}

.app{
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #434455;
}

footer{
    background-color: #2E2F42;
}

.logo2{
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
}
.span2{
    color: #f4f4fd;
    text-transform: uppercase;   
}

.description{
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #F4F4FD;
}